*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Roboto', sans-serif;
    padding:0;

}
body{
    background-color: rgb(244,244,244);
}

p{
    margin:0;
}

div.linia{
    height:1px;
    border:1px solid black;
    width:250px;
    margin:5px 0 5px 0;
}

/* sekcja header */

#header-content h2,h3,h4,h5{
    margin:0;
    padding:0;
}

#header-content #nazwisko{
    margin:30px;
}

/* sekcja section */

#experience h3{
    display: inline-block;
}

#experience-icon{
    font-size:22px;
    width:40px;
    height: 40px;
    line-height: 40px;
    border:1px solid #292929;
    border-radius:40px;
    text-align: center;
}

.paragraf-header{
    font-weight: 700;
    font-size:14px;
}



#dane-osobowe{
    display: inline-block;
    margin:10px 0 10px 0;
}



#image{
    width:200px;
    height:200px;
    background-image:url(../img/foto.jpg);
    background-size: cover;
    background-position: center;
    background-size:100%;
    left:0;
    right:0;
    margin:0 auto;
}

.header-information{
    font-size:18px;
    margin:0 0 0 15px;
}

